@media (min-width: 100px) and (max-width: 500px) {
    .part1,.part2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;

    }
   
}
@media (min-width: 500px) and (max-width: 760px){
    .part1,.part2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 5px;
    }
   

}
@media (min-width: 500px) and (max-width: 900px){
    .part1,.part2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 15px;

    }
    .content{
        font-size: large;
        
    }
}